.info {
    width: 100%;
}

.info-container {
    width: 80%;
    margin-left: auto;
    display: flex;
    padding-top: 25px;
    @media (max-width: $mobile-max) {
        margin-left: 10px;
        width: 90%;
}
}

.num {
    color: #FFFF00;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;

    @media (max-width: $mobile-max) {
        font-size: 20px;
}
}

.info-text {
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    @media (max-width: $mobile-max) {
        font-size: 20px;
        width: 100%;
        overflow: hidden;
}
}



.info-link {
    color: #26A5E4;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    @media (max-width: $mobile-max) {
        font-size: 20px;
}
}

.info-img {
    width: 30px;
    height: 30px;
}

.red {
    color: red;
}

.online {
    color: #0AE60E;
}

.percent {
    color: green;
}